.btn-iniciar-sesion {
    background-color: transparent !important;
    color: rgb(24, 23, 23) !important;
    margin-right: 20px;
    max-height: 50px;
}

.btn-iniciar-sesion:hover {
    border: 0.5px solid rgb(24, 23, 23);
}

.btn-toggler {
    background-color: transparent!important;
    outline: none;
    border: none;
    margin-left: 5px;
}

.btn-menu {
    font-size: large;
    color: #fff !important;
}

.btn-menu:hover {
    border: 0.5px solid #fff !important;
}

a>div {
    display: flex;
    flex-direction: row;
}

.contenedor-busqueda {
    border: solid rgb(108, 108, 189) 0.6px !important;
    text-align: center;
    align-content: center;
    border-radius: 5px;
    min-width: 100px;
}

.redondo {
    border-radius: 5px;
}

.sombra-nav {
    box-shadow: 2px 2px 5px #666;
}